<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_LOCKED_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!--<uses-permission android:name="android.permission.VIBRATE" />-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_baseline_volume_mute_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_volume_mute_24"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoNotDisturb"
        tools:targetApi="31"
        android:directBootAware="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUCKBOOT_POWERON" />
                <action android:name="com.htc.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MuteUnmuteReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="hu.vandreas73.silencescheduler.unmute" />
                <action android:name="hu.vandreas73.silencescheduler.mute" />
            </intent-filter>
        </receiver>

    </application>

</manifest>